<% if @document_list.any? {|d| d.exports_as? :endnote } %>
  <li class="endnote">
    <%= link_to t('blacklight.tools.endnote'), bookmarks_path(:endnote, blacklight_path.params_for_search), :class => "btn btn-default", :id => "endnoteLink" %>
  </li>
<% end %>
