<% if @response.documents.any? {|d| d.exports_as? :refworks_marc_txt } %>
  <li class="refworks">
    <%= link_to t('blacklight.tools.refworks'), refworks_export_url(url: bookmarks_export_url(:refworks_marc_txt, search_state.params_for_search)), :class => "btn btn-default", :id => "refworksLink" %>
  </li>
<% end %>
