/* border between items on marc view */
$marc_item_separator: 1px solid $text-muted !default;

.marc_view {
	font-family: $font-family-monospace;

  .field {
		align-items: flex-start;
    border-bottom: $marc_item_separator;
		display: flex;
		gap: 2em;
  }

  .ind1, .ind2
  {
    display:inline;
    padding: 0 ($spacer / 2);
  }

	.tag_ind {
		flex-shrink: 0;
	}
}
