name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      matrix:
        ruby: [2.7, '3.0']
        rails_version: ['6.1.7', '7.0.4']
        blacklight_version: ['~> 7.0']
        experimental: [false]
        include:
        - ruby: '3.1'
          rails_version: '7.0.4'
          blacklight_version: '~> 7.0'
          experimental: false
        - ruby: '3.1'
          rails_version: '7.0.4'
          blacklight_version: '8.0.0.beta4'
          experimental: false
        - ruby: '3.1'
          rails_version: '7.0.4'
          blacklight_version: 'github'
          experimental: true
    env:
      RAILS_VERSION: ${{ matrix.rails_version }}
      BLACKLIGHT_VERSION: ${{ matrix.blacklight_version }}
    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby ${{ matrix.ruby }}
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
    - name: Install dependencies with Rails ${{ matrix.rails_version }}
      run: bundle install
    - name: Run tests
      run: bundle exec rake
